# Data Analysis with Pandas
Cycle Share Data set 
Roman Sydoruk 
7/8/2020

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./trip.csv', delimiter=',', error_bad_lines=False)
df

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [75]:
#the average trip duration for a borrowed bicycle
avg_trip = df['tripduration'].median()
avg_trip

624.842

In [84]:
# the most common age of a bicycle-sharer
birth_year = df['birthyear'].value_counts().idxmax()
current_year = pd.datetime.now().year
age = int(current_year - birth_year)
age

33

In [15]:
# read weather file
df_weather = pd.read_csv('./weather.csv')
df_weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [86]:
#the average precipitation per month, and the median precipitation

median_and_mean = df_weather['Precipitation_In'].agg(['median', 'mean'])
median_and_mean

median    0.000000
mean      0.105065
Name: Precipitation_In, dtype: float64

In [17]:
# open csv file
df_station = pd.read_csv('./station.csv')
df_station.head(10)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN

In [18]:
#the average number of bikes at a given bike station
gr_by_name = df_station.groupby(['name'])
gr_by_name['current_dockcount'].mean()

name
12th Ave & E Denny Way                                                    16
12th Ave & E Mercer St                                                    16
12th Ave & E Yesler Way                                                    0
12th Ave & NE Campus Pkwy                                                 16
15th Ave E & E Thomas St                                                  16
15th Ave NE & NE 40th St                                                  16
1st Ave & Marion St                                                       20
2nd Ave & Blanchard St                                                    14
2nd Ave & Pine St                                                         18
2nd Ave & Spring St                                                       18
2nd Ave & Vine St                                                         16
3rd Ave & Broad St                                                        18
6th Ave & Blanchard St                                                    16
6th Ave S & S King St                                                     16
7th Ave & Union St                                                        20
9th Ave N & Mercer St                                                     18
Bellevue Ave & E Pine St                                                  14
Broadway and E Denny Way                                                  18
Burke Museum / E Stevens Way NE & Memorial Way NE                         14
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                         18
Cal Anderson Park / 11th Ave & Pine St                                    26
Children's Hospital / Sandpoint Way NE & 40th Ave NE                      24
City Hall / 4th Ave & James St                                            20
Dexter Ave & Denny Way                                                     0
Dexter Ave N & Aloha St                                                   18
E Blaine St & Fairview Ave E                                              18
E Harrison St & Broadway Ave E                                            20
E Pine St & 16th Ave                                                      18
Eastlake Ave E & E Allison St                                             18
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St         16
Frye Art Museum / Terry Ave & Columbia St                                  0
Harvard Ave & E Pine St                                                   16
Key Arena / 1st Ave N & Harrison St                                       16
King Street Station Plaza / 2nd Ave Extension S & S Jackson St            18
Lake Union Park / Valley St & Boren Ave N                                 16
Mercer St & 9th Ave N                                                     20
NE 42nd St & University Way NE                                            18
NE 47th St & 12th Ave NE                                                  16
NE Pacific St/UW Medical Center                                           16
Occidental Park / Occidental Ave S & S Washington St                      18
PATH / 9th Ave & Westlake Ave                                             18
Pier 66 / Alaskan Way & Bell St                                           18
Pier 69 / Alaskan Way & Clay St                                           24
Pine St & 9th Ave                                                         20
REI / Yale Ave N & John St                                                20
Republican St & Westlake Ave N                                            18
Seattle Aquarium / Alaskan Way S & Elliott Bay Trail                      18
Seattle University / E Columbia St & 12th Ave                             20
Summit Ave & E Denny Way                                                  16
Summit Ave E & E Republican St                                            16
Terry Ave & Stewart St                                                    20
Thomas St & 5th Ave N                                                     18
UW Engineering Library / E Stevens Way NE & Jefferson Rd                  14
UW Intramural Activities Building                                         14
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd    16
UW McCarty Hall / Whitman Ct                                               0
Union St & 4th Ave                                                        18
Westlake Ave & 6th Ave                                                    20
Name: current_dockcount, dtype: int64

In [102]:
# When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes?
filt_greater = df_station['install_dockcount'] / df_station['current_dockcount'] > 1
filt_less = df_station['install_dockcount'] / df_station['current_dockcount'] < 1
#df_station.loc[filt, ['name', 'modification_date']]
len_greater = len(df_station[filt_grater].index)
len_less = len(df_station[filt_less].index)
def gain():
    if len_greater > len_less:
        return len_greater
    else:
        return len_less
gain()
df_station.loc[filt_greater, ['name', 'modification_date']]

The company gains bikes on 11 stations.

                                                 name modification_date
7                                 2nd Ave & Spring St         11/9/2015
10                            12th Ave & E Yesler Way          8/9/2016
17             Cal Anderson Park / 11th Ave & Pine St         2/24/2015
19                           Bellevue Ave & E Pine St               NaN
22  Children's Hospital / Sandpoint Way NE & 40th ...         3/24/2015
26          Frye Art Museum / Terry Ave & Columbia St         3/18/2016
37          Lake Union Park / Valley St & Boren Ave N         2/23/2015
38                             Dexter Ave & Denny Way         11/2/2015
46                       UW McCarty Hall / Whitman Ct        10/29/2015
48                           15th Ave NE & NE 40th St         2/20/2015
50                  UW Intramural Activities Building         2/20/2015

In [106]:
# mean temperature in 2016
weather_2016 = df_weather['Date'].str.contains('2016')
mean_temp_16 = round(df_weather.loc[weather_2016, 'Mean_Temperature_F'].mean())
mean_temp_16

57

In [109]:
# count raining days in 2015
weather_2015 = df_weather['Date'].str.contains('2015')
filt = df_weather['Events'] == 'Rain'
rain_days_15 = df_weather.loc[weather_2015 & filt, 'Events'].count()

In [110]:
# count raining days in 2015
weather_2015 = df_weather['Date'].str.contains('2015')
filt = df_weather['Events'] == 'Rain'
df_weather.loc[weather_2015 & filt, 'Events'].count()

144

In [124]:
# quantity by gender
filt_male = df['gender'] == 'Male'
male = df.loc[filt_male, 'gender'].count()
filt_female = df['gender'] == 'Female'
female = df.loc[filt_female, 'gender'].count()
female

37562

In [126]:
def test():
    def assert_equal(actual, expected):
        assert actual == expected, f'Expected {expected} but got {actual}'
    assert_equal(avg_trip, 624.842)
    assert_equal(age, 33)
    assert_equal(gain(), 11)
    assert_equal(mean_temp_16, 57)
    assert_equal(rain_days_15, 144)
    assert_equal(male, 140564)
    assert_equal(female, 37562)
    print('Success!!!')
test()

The company gains bikes on 11 stations.
Success!!!